@use "../../../../scss/base/modal";
@use "../../../../scss/base/input";

// Music Form
.music-url-container {
   input {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      width: 100%;
   }

   .music-save-button {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
   }
}