.speeddial-container {
   all: unset;
   margin-right: 58px;

   .p-speeddial-button {
      background-color: theme('colors.violet');
      margin-top: 20px;

      .p-icon {
         color: white;
      }
   }

   .p-speeddial-list {
      gap: 10px;

      .p-speeddial-action {
         background-color: theme('colors.violet');
         color: white;
      }
   }
}