.p-menubar-root-list {
    .p-menuitem {
        border-radius: 5px;
    }

    .p-menuitem-text {
        font-family: "Jura", sans-serif;
    }

    .p-menuitem-content:hover {
        background: #683ab71d;
    }

    .p-focus {
        background: #683ab787;
    }
}

@media screen and (max-width: 960px) {
    .p-menubar {
        justify-content: flex-start;
    }

    .p-menubar-root-list {
        display: none;
    }

    .p-menubar-button {
        display: flex;
    }

    .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
        display: flex;
        flex-direction: column;
        top: 100%;
        left: 0;
        z-index: 1;
    }

    .nav-collapse-button {
        display: none;
    }
}